.img img {
  padding-left: 5px;
  width: 100%;
  height: 250px;
  object-fit: contain;
  box-shadow: 1px purple;
}
.parrafos {
  position: relative;
  top: 90px;
  padding: 5px;
}
.backgroundHome-carrusel {
  position: relative;
  top: 86px;
}
