.popup-container {
  position: fixed;
  flex-direction: column;
  gap: 45px;
  top: 65px;
  left: 0;
  width: 100vw;
  height: 100px;
  background-size: cover;
  background-color: var(--mainColor);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.ulPopup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lowvetica";
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: center;
  list-style-type: none;
}
.ulPopup-container li:hover {
  width: 100%;
  border-radius: 80%;
  background-color: var(--mainShadowColor);
}
