.Services-Container {
  margin-top: 20px;
}
.Services-Container h2 {
  margin: 17px;
}
.ulServices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.ulServices-container img {
  object-fit: fill;
  border-radius: 7px;
  width: 350px;
  height: 400px;
  box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.47);
}
